body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}

/* Header section CSS */
.header-sec{
    background-image: url(./personal-website/header-bg.png);
    display: flex;
    padding: 5%;
}
.title-name{
    color: #EC4F8F;
}
.hire-btn{
    width: 20%;
    font-size: 20px;
    background-color: #EC4F8F;
    border-radius: 5px;
    border: none;
    color: white;
}
.half-width {
    width: 50%;
};
.half-width img{
    width: 50%;
}
/* Biography section CSS */
.biography-sec{
    background-image: url(./personal-website/biography-bg.png);
    display: flex;
    padding: 5%;
}
/* Latest work section css */
.latest-work-sec{
    background-image: url(./personal-website/latest-work-bg.png);
}
.latest-work-sec>h1, 
.client-sec>h1{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}
.work-image{
    display: flex;
    padding-left: 5%;
    padding-right: 5%;
}
.work-image>img{
    width: 30%;
    padding-left: 10px;
    padding-right: 10px;

}

/* Client section css */
.client-sec{
    text-align: center;
    background-image: url(./personal-website/footer-bg.png);
    margin-bottom: 50px;
}
.client-intro>h5{
    color: lightgray;
}
.client-speech{
    width: 600px;
    height: 300px;
    margin: 0 auto;
}
/* email section css */
.message-sec{
    margin: 0 auto;
    height: 300px;
    width: 80%;
    background-color: #EC4F8F;
    border: none;
    border-radius: 5px;
}
.message-sec>h5, .message-sec>h1{
    text-align: center;
    color: white;
}
.message-sec>h5{
    padding-top: 50px;
}
/* Footer section css */
footer>h6{
    text-align: center;
    color: gray;
    
}
/* Common CSS are here */
.client-sec,
.latest-work-sec,
.biography-sec,
.header-sec
{
    background-repeat: no-repeat;
    background-size: cover;
}